.header {
    background-color: #17181E;
    height: 60px;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #FAFAFA;
    font-size: 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-ul li {
    font-size: 20px;
   
}

.header-ul li a {
    color: #FAFAFA;
    font-weight: 100;
    text-decoration: none;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login a {
    color: #FAFAFA;
    font-size: 25px;
    text-decoration: none;
}

.btn {
    height: 40px;
}


.content a {
    color: black;
}

.content {
    background-color: #F5F7FA;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.content-item {
    flex: 1;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.content-item img {
    width: 100%;
    max-height: 400px;
    border: 1px solid #ccc;
    border-radius: 40px;
    object-fit: cover;
}

.main h1 span {
    color: orange;
}




/* レスポンシブ対応のためのメディアクエリ */
@media (max-width: 768px) {
    .content-item {
        flex-basis: calc(50% - 40px);
    }
}

@media (max-width: 576px) {
    .content-item {
        flex-basis: calc(100% - 40px);
    }
}