<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-work-out.css}">


    <title>Training Record</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/userinterface.js"></script>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img th:src="@{/images/maccho.png}">
                    <h2>Work<span style="color:purple;">Out</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a th:href="@{content-work-out-top}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a th:href="@{content-work-out-ScheduleCalender}">
                    <span class="material-icons-sharp">
                        date_range
                    </span>
                    <h3>Schedule</h3>
                </a>
                <a th:href="@{content-work-out-recorde}" class="active">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Recode</h3>
                </a>
                <a th:href="@{content-work-out-analytics}">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a th:href="@{/usefulltools/help}">
                    <span class="material-icons-sharp">
                        info
                    </span>
                    <h3>Help</h3>
                </a>
                <a th:if="${username != null}" th:href="@{/logout}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Log out</h3>
                </a>
                <a th:unless="${username != null}" th:href="@{login}">
                    <span class="material-icons-sharp">login</span>
                    <h3>Sign Up</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Analytics</h1>
            <span th:text="|Welcome,${username}|"></span>
            <span th:text="|${yearAndMonthAndDay}|"></span>
            <span id="currentDateTimeNow"></span>
            <!-- Analyses -->
            <div class="analyse">
                <div class="blockA">
                    <div class="status">
                        <div class="info" id="dayfromday">
                            <h3>前回からの経過日数</h3>
                            <h1></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    trending_up
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blockB">
                    <div class="status">
                        <div class="info" id="totalCount">
                            <h3>今日のトータルSET</h3>
                            <h1></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    rocket_launch
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blockC">
                    <div class="status" id="totalWeight">
                        <div class="info">
                            <h3>今日のトータル重量</h3>
                            <h1></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    fitness_center
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Analyses -->
            <h1 class="toolslogo">Recode List</h2>
                <div class="float-end">
                    <a th:href="@{RecodeAdd}" class="btn btn-primary">新規記録</a>
                    <a th:href="@{RecodeSearch}" class="btn btn-primary">検索</a>
                </div>
                <div class="user-list">
                    <form action="recodeForm">
                        <label for="date">日付:</label>
                        <input type="date" class="form-controlA" id="date" name="date" required>
                        <label for="item">部位:</label>
                        <select class="form-controlA" id="item" required name="item">
                            <option value="背中">背中</option>
                            <option value="肩">肩</option>
                            <option value="腕">腕</option>
                            <option value="胸">胸</option>
                            <option value="腹筋">腹筋</option>
                            <option value="脚">脚</option>
                        </select>
                        <label for="event">種目</label>
                        <input type="text" class="form-controlA" id="event" required name="event" value="">
                        <label for="setCount">SET:</label>
                        <input type="number" class="form-controlA" id="setCount" required name="set" value="0">
                        <label for="weight">重さ(Kg):</label>
                        <input type="number" step="0.1" class="form-controlA" id="weight" required name="weight"
                            value="0.0">
                        <label for="repCount">REP:</label>
                        <input type="number" class="form-controlA" id="repCount" required name="rep" value="0">
                        <button type="button" class="btn btn-primary custom-login-button"
                            onclick="submitForm()">登録</button>
                    </form>
                </div>

                <div class="user-list">
                    <table id="data-table" class="table-striped">
                        <thead>
                            <tr>
                                <th>日付</th>
                                <th>部位</th>
                                <th>種目</th>
                                <th>SET</th>
                                <th>重量</th>
                                <th>REP</th>
                                <th>削除</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- データはJavaScriptによって動的に追加される -->
                        </tbody>
                    </table>
                </div>
        </main>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
            </div>
        </div>

    </div>

</body>

</html>