<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name='_csrf'>
    <meta name='_csrf_header'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-work-out.css}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.js'></script>
    <!-- Thymeleafを使用してサーバーサイドからデータを渡す -->
    <script th:inline="javascript">
        //var chartData = [[${chartData}]];
    </script>

    <title>Training Record</title>
</head>

<body>
    <script src="/js/userinterface.js"></script>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img th:src="@{/images/hash-regular-24.png}">
                    <h2>Work<span class="danger">Out</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a th:href="@{content-work-out-top}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a th:href="@{content-work-out-ScheduleCalender}" class="active">
                    <span class="material-icons-sharp">
                        date_range
                    </span>
                    <h3>Schedule</h3>
                </a>
                <a th:href="@{content-work-out-recorde}">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Recode</h3>
                </a>
                <a th:href="@{content-work-out-analytics}">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a th:href="@{/usefulltools/help}">
                    <span class="material-icons-sharp">
                        info
                    </span>
                    <h3>Help</h3>
                </a>
                <a th:if="${username != null}" th:href="@{/logout}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Log out</h3>
                </a>
                <a th:unless="${username != null}" th:href="@{login}">
                    <span class="material-icons-sharp">login</span>
                    <h3>Sign Up</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Analytics</h1>
            <span th:text="|Welcome,${username}|"></span>
            <span th:text="|${yearAndMonthAndDay}|"></span>
            <span id="currentDateTimeNow"></span>
            <!-- Analyses -->
            <div class="analyse">
                <div class="blockA">
                    <div class="status">
                        <div class="info">
                            <h3>前回からの経過日数</h3>
                            <h1 th:text="${dayfromday} + '日'">日</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    trending_up
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blockB">
                    <div class="status">
                        <div class="info">
                            <h3>今日のトータルSET</h3>
                            <h1 th:text="${totalCount} + ' set'">set</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    rocket_launch
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blockC">
                    <div class="status">
                        <div class="info">
                            <h3>今日のトータル重量</h3>
                            <h1 th:text="${totalWeight} + ' kg'">kg</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    fitness_center
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Analyses -->
            <h2 class="recodelistlogo">Recode List</h2>
            <div class="user-list">

                <div class="float-end">
                    <a th:href="@{ScheduleAdd}" class="btn btn-primary">予定を追加</a>
                    <a th:href="@{content-work-out-ScheduleCalender}" class="btn btn-primary">カレンダー</a>
                </div>
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>タイトル</th>
                            <th>開始時間</th>
                            <th>終了時間</th>
                            <th>削除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${itemlist}" th:object="${user}" class="align-middle">
                            <td th:text="*{title}"></td>
                            <td th:text="*{start}"></td>
                            <td th:text="*{end}"></td>
                            <td>
                                <form th:action="@{/usefulltools/ScheduleDelete}" method="post">
                                    <input type="submit" class="btn btn-primary" name="delete" value="削除">
                                    <input type="hidden" name="id" th:value="${user.save_id}">
                                </form>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>


        </main>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
            </div>
        </div>

    </div>

</body>

</html>