<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-work-out.css}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.js'></script>
    <!-- Thymeleafを使用してサーバーサイドからデータを渡す -->
    <script th:inline="javascript">
        //var chartData = [[${chartData}]];
    </script>

    <title>Training Analytics</title>
</head>

<body>
    <script src="/js/userinterface.js"></script>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img th:src="@{/images/hash-regular-24.png}">
                    <h2>Work<span class="danger">Out</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a th:href="@{content-work-out-top}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a th:href="@{content-work-out-ScheduleCalender}">
                    <span class="material-icons-sharp">
                        date_range
                    </span>
                    <h3>Schedule</h3>
                </a>
                <a th:href="@{content-work-out-recorde}">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Recode</h3>
                </a>
                <a th:href="@{content-work-out-analytics}" class="active">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a th:href="@{/usefulltools/help}">
                    <span class="material-icons-sharp">
                        info
                    </span>
                    <h3>Help</h3>
                </a>
                <a th:if="${username != null}" th:href="@{/logout}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Log out</h3>
                </a>
                <a th:unless="${username != null}" th:href="@{login}">
                    <span class="material-icons-sharp">login</span>
                    <h3>Sign Up</h3>
                </a>

            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Analytics</h1>
            <span th:text="|Welcome,${username}|"></span>
            <span th:text="|${yearAndMonthAndDay}|"></span>
            <span id="currentDateTimeNow"></span>
            <!-- Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>前回からの経過日数</h3>
                            <h1 th:text="${dayfromday} + '日'">日</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    trending_up
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>今日のトータルSET</h3>
                            <h1 th:text="${totalCount} + ' set'">set</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    rocket_launch
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>今日のトータル重量</h3>
                            <h1 th:text="${totalWeight} + ' kg'">kg</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <span class="material-icons-sharp">
                                    fitness_center
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>今月のトレーニング数</h3>
                            <h1 th:text="${calculateTotalTrainingCount} + '日'">日</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>今月のトータルSET</h3>
                            <h1 th:text="${calculateMonthTotalCount} + ' set'">set</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p th:text="${calculatePreviousMonthPercentage} + '%'"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>今月のトータル重量</h3>
                            <h1 th:text="${calculateMonthTotalWeight} + ' kg'">kg</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p th:text="${calculatePreviousMonthWeightPercentage} + '%'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>ベンチプレスMAX重量</h3>
                            <h1 th:text="${maxBenchPress} + 'kg'">日</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p th:text="${lastMaxBenchPress} + ' 日経過'"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>スクワットMAX重量</h3>
                            <h1 th:text="${maxSquat} + ' kg'">set</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <pt th:text="${lastMaxSquat} + ' 日経過'">
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>デッドリフトMAX重量</h3>
                            <h1 th:text="${maxDeadLift} + ' kg'">kg</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p th:text="${lastaMaxDeadLift} + ' 日経過'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="nav">
                    <button id="menu-btn">
                        <span class="material-icons-sharp">
                            menu
                        </span>
                    </button>
                </div>
            </div>

</body>

</html>