<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-work-out.css}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.js'></script>
    <!-- Thymeleafを使用してサーバーサイドからデータを渡す -->
    <script th:inline="javascript">
        //var chartData = [[${chartData}]];
    </script>

    <title>Training Record</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img th:src="@{/images/hash-regular-24.png}">
                    <h2>Work<span class="danger">Out</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a th:href="@{content-work-out-top}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a th:href="@{content-work-out-ScheduleCalender}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Schedule</h3>
                </a>
                <a th:href="@{content-work-out-recorde}" class="active">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Recode</h3>
                </a>
                <a th:href="@{content-work-out-analytics}">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a th:if="${username != null}" th:href="@{/logout}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Log out</h3>
                </a>
                <a th:unless="${username != null}" th:href="@{login}">
                    <span class="material-icons-sharp">login</span>
                    <h3>Sign Up</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Analytics</h1>
            <span th:text="|Welcome,${username}|"></span>
            <span th:text="|${dayAndTime}|"></span>
            <!-- Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>前回からの経過日数</h3>
                            <h1 th:text="${dayfromday} + '日'">日</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>今日のトータルSET</h3>
                            <h1 th:text="${totalCount} + ' set'">set</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-##%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>今日のトータル重量</h3>
                            <h1 th:text="${totalWeight} + ' kg'">kg</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+##%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Analyses -->

            <div class="user-list">
                <h2>Recode List</h2>
                <div class="float-end">
                    <a th:href="@{RecodeAdd}" class="btn btn-primary">新規記録</a>
                    <form th:action="@{/usefulltools/RecodeSearch}" method="post" th:object="${RecodeSearchForm}">
                        <label for="item">部位</label>
                        <select class="form-control" id="item" name="item">
                            <option value="背中">背中</option>
                            <option value="肩">肩</option>
                            <option value="腕">腕</option>
                            <option value="胸">胸</option>
                            <option value="腹筋">腹筋</option>
                            <option value="足">足</option>
                            <option value="">なし</option>
                        </select>
                        <label>日付</label>
                        <input type="date" name="date_column">
                        <button class="btn btn-primary custom-login-button">検索</button>
                    </form>
                </div>
                <div></div>
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>日付</th>
                            <th>部位</th>
                            <th>種目</th>
                            <th>SET</th>
                            <th>重量</th>
                            <th>REP</th>
                            <th>削除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${itemlist}" th:object="${user}" class="align-middle">
                            <td th:text="*{date_column}"></td>
                            <td th:text="*{item}"></td>
                            <td th:text="*{event}"></td>
                            <td>
                                <span th:text="${user.set_column}"></span> set
                            </td>
                            <td>
                                <span th:text="${user.weight}"></span> kg
                            </td>
                            <td>
                                <span th:text="${user.rep}"></span> rep
                            </td>
                            <td>
                                <form th:action="@{/usefulltools/RecodeDelete}" method="post">
                                    <input type="submit" class="btn btn-primary custom-login-button" name="delete" value="削除">
                                    <input type="hidden" name="id" th:value="${user.save_id}">
                                </form>
                            </td>
                        </tr>
                        
                    </tbody>

                </table>

            </div>

        </main>

    </div>

</body>

</html>